<h1>Welcome Admin</h1>


<form action="/managebooks" method="GET">
    <button type="submit">Manage Books</button>
</form>




<form action="/addbooks" method="POST">

    <div>
        <label for="book_id">Book ID</label>
        <br>
        <input type="number" id="book_id" name = "book_id" required>
    </div>
    <div>
        <label for="book_name">Book Name</label>
        <br>
        <input type="text" id="book_name" name = "book_name" required>
    </div>
    <div>
        <label for="book_count">Book Count</label>
        <br>
        <input type="number" id="book_count" name = "book_count" required>
    </div>

    <br>
    <button type="submit">Add Book</button>
</form>


