<h1>Your Books</h1>

<head>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<table id="table" >  
    <thead>  
        <tr>
            <th>Book ID</th>  
            <th>Book Name</th>  
            <th>CheckIn</th>
        </tr>  
    </thead>  

     <tbody>  
     <% print.forEach(function (book) { %>
        <tr>  
            <td type = "text" id = "<%=book.Book_ID %>"><%=book.Book_ID %></td>
            <td><%=book.book_name %></td>  
            <td><input type="checkbox" id="<%=book.Book_ID %>" name="tickOrNot"></td>
        </tr>                       
     <% }) %>
     </tbody>
     
</table>   

<br>
<button onclick="collectChecks()">CheckIn</button>



<!-- <script>


    function collectChecks(){

        var books_id_checked = [];
        
        var checkbox = document.querySelectorAll('input[type=checkbox]:checked');
        
        //console.log(checkbox.length+"--------------");
        for (var i = 0; i < checkbox.length; i++) {

            books_id_checked.push(checkbox[i].id);
        }

        console.log(books_id_checked);
        
        $.ajax({
            type: "POST",
            url: "/checkout",
            data : {book : JSON.stringify(books_id_checked)},
            success: function(msg){
            
        }
    }); 

    

    console.log("DATA SENT");

    window.location = "/books";


    

}

</script> -->
