<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name = "email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name = "password" required>
    </div>
    <br>
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>
</body>